/* element and overrides */
body {
  background: white;
  font-weight: light;
  font-feature-settings: normal;
  font-family: 'Nunito Sans', sans-serif;
}
a:link {
  color: #009bde;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #99d7f1;
  background-color: transparent;
  text-decoration: underline;
}
.nav_bar {
  border: 1px solid white;
  font-size: 1.5em;
  text-align: right;
  margin: auto;
  background-color: white;
  height: 85px;
  line-height: 85px;
  width: 98.5%;
}
.nav_bar ul {
  list-style-type: none;
}
.nav_bar li {
  display: inline-block;
  vertical-align: bottom;
}
.nav_bar li a {
  color: #474c51;
  text-align: center;
  text-decoration: none;
}
.nav_bar li a:hover {
  background-color: #F2F2F2;
}
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: black solid 2px;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
input::placeholder {
  font-size: large;
}

/* classes */
.page {
  text-align: center;
  margin: auto;
  background: white;
}
.header_container {
  position: relative;
  text-align: center;
}
.header_photo img {
  width: 98.5%;
  padding-top: 10px;
  margin: auto;
}
.header_photo {
  height: 500px;
  overflow: hidden;
}
.top_left {
  position: absolute;
  top: 15%;
  left: 7%;
  padding: 2px;
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
  height: 5%;
  width: 25%;
  text-align: left;
  line-height: 1.25em;
}
.cg-bigheader{
  font-size: 4em;
}
.cg-blue {
  color: #009bde;
}
.cg-darkgray {
  color: #555555;
}
.cg-mediumgray {
  color: #777777;
}
.cg-mediumgray h4 {
  color: #777777;
  font-size: 1.2em;
  text-transform: uppercase;
}
.cg-bluegradient-bg {
  background: linear-gradient(to right, #009bde, #9bd2c8);
}
.cg-whitebluegradient-bg {
  background: linear-gradient(to bottom, white, #ccebf8);
}
.white {
  color: white;
}
.uppercase {
  text-transform: uppercase;
}
.white-underline {
  text-decoration: underline;
  text-decoration-color: white;
}
.black-underline {
  text-decoration: underline;
  text-decoration-color: black;
}
.cg-blue-underline {
  text-decoration: underline;
  text-decoration-color: #009bde;
}

/* IDs */
#investor-header {
  height: 600px;
  overflow: hidden;
  text-shadow: 1px 1px 50px black;
  background:url('/static/investor-header.png') right no-repeat;
}

/* Footer */
html,body {
  height:100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:80px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear:both;
  padding-top:10px;
  padding-bottom:10px;
  color:#fff;
}