body                    {background: white;}

.nav_bar                {border: 1px solid white; font-size: 1.5em; margin: 10px; text-align: right;
                        background-color: white; height: 85px; line-height: 85px;}
.nav_bar ul             {list-style-type: none;}
.nav_bar li             {display: inline-block; vertical-align: bottom;}
.nav_bar li a           {color: #474c51; text-align: center; text-decoration: none; padding: 8px;}
.nav_bar li a:hover     {background-color: #F2F2F2;}


.page                   {text-align: center; margin: auto; background: #F2F2F2; height: 100%; padding: 8px;}
.content                {color: cornflowerblue;}