{% extends "layout.html" %}
{% block body %}

    <!-- The scrollable area -->
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="section1">

        <div id="index-header-container" class="container-flex"
             style="height: 600px; overflow: hidden; background color:black;
                     background:url({{ url_for('static', filename='griffith-sunrise.jpg') }});
                     background-position: center; background-repeat: no-repeat; background-size:cover;">
            <div id="index-header" class="container">
                <div style="margin: 450 -50; text-align: left; color: white;">
                    <h1 style="font-size: 4em; text-shadow: 1px 1px 50px black ;">Mutual Fund Screener</h1>
                </div>
            </div>
        </div>
    </div>

    <br />

    <h1>Find Your Funds</h1>

    <p><i>Fill out the following questionnaire to have a personalized fund recommended to you!</i></p>

    <br />

    <!--begin form-->
    <div class="container">
        <form action="{{ url_for('screener') }}" method=post class="form form-horizontal" role="form">
            {{ form.csrf_token }}

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <label class="sr-only" for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name"
                           style="width: 100%;"
                           placeholder="Name:">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">{{ form.screen.label }} {{ form.screen(class_='form-control') }}</div>
                <div class="col-sm-3"></div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <label class="sr-only" for="currAge">Current Age</label>
                    <input type="text" class="form-control" id="currAge" name="currAge" aria-describedby="currAge"
                           style="width: 100%;"
                           placeholder="Current Age:">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <label class="sr-only" for="ageRet">Retirement Age</label>
                    <input type="text" class="form-control" id="ageRet" name="name" aria-describedby="ageRet"
                           style="width: 100%;"
                           placeholder="Retirement Age:">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <label class="sr-only" for="nestegg">Nestegg</label>
                    <input type="text" class="form-control" id="nestegg" name="nestegg" aria-describedby="nestegg"
                           style="width: 100%;"
                           placeholder="How much do you want saved for retirement?">
                </div>

                <div class="col-sm-3"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <label class="sr-only" for="monthly">Monthly</label>
                    <input type="text" class="form-control" id="monthly" name="monthly" aria-describedby="monthly"
                           style="width: 100%;"
                           placeholder="How much can you invest per month?">
                </div>
                <div class="col-sm-3"></div>
            </div>
            <br/><br />

            {{ form.esp.label }}{{ form.esp }}
            <br/><br />
            <input type="submit" value="Go" class="btn btn-primary">
            <br/><br/>
        </form>
    </div>


    <!-- recommendations -->
        {% if submit %}
        <div class="row" style="padding: 40 0">
            {% if form_data.name %}
                <h1>
                    Hello, {{form_data.name}}
                </h1>
            {% endif %}

            <br />
            <h3>You want to save for</h3>
            <h1 class="bold">
                {% if 'retirement' == form_data.screen %}
                    {{ "Retirement" }}
                {% elif 'wealth' == form_data.screen %}
                    {{ "Building Wealth" }}
                {% elif 'goal' == form_data.screen %}
                    {{ "A Goal" }}
                {% endif %}
            </h1>
        </div>

        <div class="row" style="padding: 0 0"><h3>We recommend these funds as a starting point...</h3></div>
        <div class="row" style="padding: 50 0">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="padding: 30 0">
                <div class="empty-circle">{{ recs[0]['symbol'] }}</div>
                <h4 class="bold">{{ recs[0]['name'] }}</h4>
            </div>
            <div class="col-md-4" style="padding: 30 0">
                <div class="empty-circle">{{ recs[1]['symbol'] }}</div>
                <h4 class="bold">{{ recs[1]['name'] }}</h4>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!--accessing form answer-->
        <!--{{ form_data.screen }}-->
        <!--accessing arrays of american funds-->
        <!--{{ af[type['growth']][0] }}-->


        {% endif %}
    </div>

{% endblock %}