{% extends "layout.html" %}
{% block body %}

    <!-- The scrollable area -->
    <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <div id="section1">

        <div id="index-header-container" class="container-flex"
             style="height: 600px; overflow: hidden; background color:black;
                     background:url({{ url_for('static', filename='griffith-sunrise.jpg') }});
                     background-position: center; background-repeat: no-repeat; background-size:cover;">
            <div id="index-header" class="container">
                <div style="margin: 450 -50; text-align: left; color: white;">
                    <h1 style="font-size: 4em; text-shadow: 1px 1px 50px black ;">Placeholder Header Title</h1>
                </div>
            </div>
        </div>
    </div>

    <!--begin form-->
    <div class="container">
        <form action="{{ url_for('screener') }}" method=post class="form form-horizontal" role="form">
            {{ form.csrf_token }}
            {{ form.name.label }} {{ form.name }} <br />
            {{ form.screen.label }} {{ form.screen }} <br />
            {{ form.ageRet.label }} {{ form.ageRet }} <br />
            {{ form.currAge.label }}{{ form.currAge }} <br />
            {{ form.nestegg.label }}{{ form.nestegg }} <br />
            {{ form.monthly.label }}{{ form.monthly }} <br />
            {{ form.esp.label }}{{ form.esp }}
            <br />
            <input type="submit" value="Go">
        </form>
    </div>


    <!-- recommendations -->
        {% if submit %}
        <div class="row" style="padding: 40 0">
            {% if form_data.name %}
                <h1>
                    Hello, {{form_data.name}}
                </h1>
            {% endif %}

            <br />
            <h3>You want to save for</h3>
            <h1 class="bold">
                {% if 'retirement' == form_data.screen %}
                    {{ "Retirement" }}
                {% elif 'wealth' == form_data.screen %}
                    {{ "Building Wealth" }}
                {% elif 'goal' == form_data.screen %}
                    {{ "A Goal" }}
                {% endif %}
            </h1>
        </div>

        <div class="row" style="padding: 0 0"><h3>We recommend these funds as a starting point...</h3></div>
        <div class="row" style="padding: 50 0">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="padding: 30 0">
                <div class="empty-circle">{{ recs[0]['symbol'] }}</div>
                <h4 class="bold">{{ recs[0]['name'] }}</h4>
            </div>
            <div class="col-md-4" style="padding: 30 0">
                <div class="empty-circle">{{ recs[1]['symbol'] }}</div>
                <h4 class="bold">{{ recs[1]['name'] }}</h4>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!--accessing form answer-->
        <!--{{ form_data.screen }}-->
        <!--accessing arrays of american funds-->
        <!--{{ af[type['growth']][0] }}-->


        {% endif %}
    </div>

{% endblock %}