<html>
<!DOCTYPE html>
<head>
    <title>The Capital Advantage</title>
    <meta charset="UTF-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='style.less') }}" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
</head>

<body>
    <div class="page">
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="{{ url_for('static', filename='cg_logo.jpg') }}" style="width: 70px; float:left; padding: 5px;"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav navbar-right ">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/test">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.capitalgroup.com/our-approach.html">Institutional</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    {% block body %}{% endblock %}
    </div>
</body>

</html>

