{% extends "layout.html" %}


{% block body %}
    <div>
        <h1>Test Portfolio Manager</h1>
    </div>
    <div>
        <select name="all_funds" id="symbol">
            {% for key, value in mutual_funds.items() %}
                <option value={{key}}>{{value}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="submit" onclick="getAVData()"/>
    </div>
    <div>
        <p id="avData"></p>
    </div>
{% endblock %}

{% block js %}
    <script>

        function getAVData () {
            var request = new XMLHttpRequest();
            var avKey = 'X61RJDJCU557MHDV';
            var avSym = document.getElementById('symbol').value.toUpperCase();
            <!-- TIME_SERIES_DAILY => 1 day intervals -->
            var avURL = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=' + avSym + '&apikey=' + avKey;
            request.open('GET', avURL, true);
            request.onload = function () {
                var data1 = JSON.parse(this.response);

                if (request.status >= 200 && request.status < 400) {
                    var dataString = JSON.stringify(data1, undefined, 2);
                    console.log(data1);
                    document.getElementById('avData').innerHTML = dataString;
                } else {
                    console.log('error');
                    document.getElementById('avData').innerHTML = "Error with symbol name.";
                }
            }
            request.send();
        }

        function recursiveGetClosing (fund, lookup, callback) {
            for (property in fund) {
                if (property == lookup) {
                    callback(fund[property]);
                } else if (fund[property] instanceof Object) {
                    recursiveGetClosing(fund[property], lookup, callback);
                }
            }
        }

        function calculateCorrelation (fundJSON1, fundJSON2) {
            <!-- IN PROGRESS - Finds the correlation coefficient between 2 funds -->
            <!-- Gather the closing data of each fund into arrays -->
            fund1Closings = [];
            recursiveGetClosing(fundJSON1, "4. close", function(fund) {
                fund1Closings.push(fund);
            });
            fund2Closings = [];
            recursiveGetClosing(fundJSON2, "4. close", function(fund) {
                fund2Closings.push(fund);
            });

            console.log(fund1closings);
            console.log(fund2closings);
        }

    </script>
{% endblock %}