{% extends "layout.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block body %}
  <div id="directions">Select a mutual fund to add to your portfolio.</div>

    <div id="scale-line" >
      <div id="empty-circle" class="left circle">Your Pick</div>
      <div id="empty-circle" class="right circle">Our Pick</div>
    </div>
    <div id="scale-triangle">
    </div>

    <button onclick="myFunction()" class="dropbtn">Select fund...</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#">AMCAP Fund</a>
        <a href="#">American Mutual Fund</a>
        <a href="#">Conservative Growth...</a>
        <a href="#">Corporate Bond Fund</a>
        <a href="#">...</a>
      </div>
    </div>
{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/script.js') }}"></script>
{% endblock %}
